.DS_Store
.ipynb_checkpoints
.ipynb_checkpoints/*
__pycache__
*.swp
*.sw*
.row
.signac
*.mp4
workspace/*
workspace/
signac.rc
signac_project_document.json
vis.ovito
templates/
test.gsd
experimental_data/
output_files/
manuscript/
analysis/
aggregated_results.csv
init*.py
heatmaps/
heatmaps/*
